<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div align="center">

<style>
    .brd {
     border: 4px double black; /* Параметры границы */
     padding: 10px; /* Поля вокруг текста */
     width: 500px;
    }
</style>
<br>
<br>
<h2>Your password is: </h2>
<br>
<div class="brd">
    <h1>{{ password }}</h1>
</div>
<br>
<br>
<form action="{% url 'home' %}">
    <input type="submit" value="HOME"></input>
</form>

</div>